@import url('https://fonts.googleapis.com/css?family=Montserrat|Bitter');

:root {
    --ripple-effect-color: #ccc;
    --button-text-color: rgb(53, 53, 53);
    --button-border-color: rgb(42, 255, 77);
}

button {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: #fff;
    font-family: sans-serif;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:focus {
    outline: none;
    outline-offset: 0;
}

.mtrl-btn {
    font: normal 14px/28px Montserrat;
    color: var(--button-text-color);
    display: inline-block;
    padding: 4px 16px;
    cursor: pointer;
}

.mtrl-btn.mtrl-border {
    border: 1px solid var(--button-border-color);
}

.mtrl-btn.mtrl-disabled {
    pointer-events: none;
    color: rgba(0, 0, 0, .26);
    border: none;
}

.mtrl-shadow {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition-delay: .2s;
    transition: all .3s;
}
.mtrl-shadow:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}